@charset "utf-8";

/*关于选择器:
   1:元素选择器:通用的样式,局部或者某个单独的模块是不推荐使用元素选择器的;
   2:class:在一个元素需要多个样式切换或者同时使用的时候,只有class可以实现.
   3:id:单个样式使用,布局元素上使用id,(布局元素:header,footer,nav...)
   id/class > ele 强制为子元素设置样式.孙子元素不享有设置的样式.如果不加 > 那么 孙子标签也会继承相同的样式.(精准度变小,但是范围变大);
   图片显示设计,浏览器小于图片大小,那么显示图片中间的区域,保证不出现滚动条,浏览器大小大于图片大小,两边背景填充
*/

*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #fff;
}
.none{
    display: none;
}
#header{
    width: 100%;
    min-width: 1263px;
    height: 70px;
    background-color: #333;
    box-shadow: 0 1px 10px rgba(0,0,0,.3);
    z-index: 9999;
    position: relative;

}
#header .center{
    height: 70px;
    width: 1263px;

    margin: 0 auto;
}
#header .logo{
    cursor: pointer;
    width: 240px;
    height: 70px;
    background-image: url("../img/logo.png");
    text-indent: -9999px;
    float: left;
}
#header .link{
    width: 650px;
    color: #eee;
    float: right;
    height: 70px;
    line-height: 70px;
}
#header .link li{
    float: left;
    width: 120px;
    text-align: center;
}
#header .link a{
    display: block;
    color: #fff;
}
#header .link a:hover{
    background-color: #000;
}
#header .active a{
    background-color: #000;
}

#search {
    width: 100%;
    min-width: 1263px;
    height: 600px;
    background: url("../img/adver.jpg") no-repeat center;
    position: relative;
}
#search .center{
    width: 600px;
    height: 60px;
    background-color: #000;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -30px 0 0 -300px;
    border-radius: 10px;
    opacity: .6;
}
#search .search{
    width: 446px;
    height: 51px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 -296px;
    color: #666;
    border: 1px solid #666;
    font-size: 24px;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
}
#search .button{
    width: 120px;
    height: 54px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 176px;
    color: #666;
    border: 1px solid #666;
    font-size: 24px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
#tour{
    /*background-color: #ccc;*/
    width: 1263px;
    height: 1200px;
    margin: 30px auto;
    text-align: center;
}
#tour .center{
    text-align: center;
}
#tour h2{
    font-size: 45px;
    letter-spacing: 2px;
    margin: 10px 0;
    color: #666;
}
#tour p{
    margin: 10px 0;
    color: #666;
}
#tour figure{
    border: 1px solid #ddd;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    margin: 15px 12px;
    width: 380px;
    text-align: left;
    position: relative;
}
#tour figure img{
    width: 380px;
    vertical-align: middle;
}
#tour figcaption{
    color: #777;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 7px 0 5px 0;
    height: 65px;
    overflow: hidden;
}
#tour .title{
    color: #333;
    font-weight: normal;
}
#tour .set{
    font-size: 13px;
    color: #999;
    font-style: normal;
    float: right;
    position: relative;
    top: 3px;
    right: 5px;
}
#tour .price{
    color: #f60;
    font-size: 14px;
}
#tour .price strong{
    letter-spacing: 1px;font-size: 20px;
}
#tour .type{
    width: 90px;
    background-color: #59b200;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 4px;
}

#footer{
    height: 360px;
    background-color: #222;
}
#footer .top{
    width: 1263px;
    height: 281px;
    margin: 0 auto;
    text-align: center;
    /*background-color: red;*/
}
#footer .block{
    display: inline-block;
    width: 410px;
    height: 280px;
    /*background-color: red;*/
    text-align: left;
    color: #ccc;
    vertical-align: top;
}
#footer hr{
   margin: 15px 0 10px 0;
    width: 90%;
    border: 1px dashed #333;
}
#footer ul{
    color: #777;
    font-size: 18px;
    text-indent: 20px;
    line-height: 2;
}
#footer h2{
    font-size: 24px;
    font-weight: normal;
    padding: 20px 0 0 20px;
}
#footer .button{
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    color: #777;
    border-top: 1px solid #444;
}

